@model MVC5Course.Models.OrderLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderLine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
