@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@Utility.display啟用停用(ViewBag.IsEnabled)

@Html.Raw(Utility.CommonBlock().ToHtmlString())

@section footer {
&copy; @DateTime.Now.Year - Will 的 ASP.NET 應用程式 @@ @GetDate()
}

@functions {

    public int MyID { get; set; }

    public IHtmlString GetDate()
    {
        this.MyID = 1;
        
        return new HtmlString(DateTime.Now.ToString());
    }
    
}